.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 2.4rem 0;
}

.page-container h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  color: rgb(34, 34, 34);
}

.cont-options-question {
  display: flex;
  flex-direction: row;
  height: 6rem;
  width: 80dvw;
  max-width: 45rem;
  margin: 0 2rem;
  gap: 2.4rem;
}

.cont-options-question button {
  flex: 1;
  font-size: 1.4rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: rgb(246, 246, 246);
  transition: 0.1s ease-in;
  position: relative;
}

.cont-options-question button::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2px;
  height: calc(100% + 4px);
  width: 0;
  z-index: -1;
  border-radius: 10px;
  background-color: rgb(200, 200, 200);
  transition: 0.3s ease;
}

.cont-options-question button:hover:not(.selected)::after {
  width: calc(100% + 4px);
}

.cont-options-question button.selected::after {
  width: calc(100% + 4px);
  background-color: rgb(73, 73, 73);
}

.cont-options-question button span {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.cont-option-selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80dvw;
  max-width: 55rem;
  min-height: 10rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: rgb(246, 246, 246);
  border: 5px solid rgb(200, 200, 200);
  border-style: dashed;
}

.cont-option-selected span {
  font-size: 1.4rem;
  display: flex;
  text-align: center;
}

h3 {
  font-size: 1.6rem;
  margin: 0 2rem;
  text-align: center;
}

.cont-example {
  width: 100%;
  max-width: 70rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
  gap: 3rem;
  box-sizing: border-box;
}

.cont-example .card-example:last-child:nth-child(1),
.cont-example .card-example:last-child:nth-child(2n + 1):nth-last-child(1) {
  grid-column: 1 / -1;
}

.card-example {
  display: flex;
  flex-direction: column;
  height: 32rem;
  gap: 1rem;
  border-radius: 8px;
  padding: 1.4rem;
  background-color: rgb(246, 246, 246);
}

.card-example h4 {
  text-align: center;
  font-size: 1.4rem;
  margin: 1rem;
}

.card-example span:nth-child(3) {
  font-weight: 600;
}

.card-example span:last-of-type {
  margin-top: auto;
}
